@import 'nativescript-theme-core/css/core.light.css';

/* Your CSS goes here */
ActivityIndicator {
    width: 60;
    height: 60;
}

.contest-entry {
    margin: 15;
    background-color: lightcoral;
}