@import 'nativescript-theme-core/css/core.light.css';

/* Your CSS goes here */
ActivityIndicator {
    width: 60;
    height: 60;
}

.contest-card {
    margin: 6 12;
    elevation: 12;
    radius: 6;
}

Page {
    background-color: #ECECEC;
}