@import 'nativescript-theme-core/css/core.light.css';

/* Your CSS goes here */
ActivityIndicator {
    width: 60;
    height: 60;
}

.contest-entry {
    border-radius: 2;
    border-width: 1;
    border-color: gray;
}